.navList {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 15px;
  background-color: #222;
  margin: 0;
  list-style: none;
  align-items: center;
}

.linkItem {
  color: #999;

  &_active {
    color: #fff;
  }
}

.useLinuxWorkaroundLabel {
  color: #fff;
}
