.header {
    background-color: #444;
}

@media (prefers-color-scheme: light) {
    .header {
        background-color: #DDD;
    }
}


.messagesContainer {
    border-top: 1px solid #999;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
